html, body {
    height: 100%;
}

body {
	background: #dde5e8;
	font-size: 18px;
	line-height: 1.6;
	overflow-x: hidden;
	color: #4c5357;
	margin: 0;
	padding: 0;
	font-family: proxima-nova-1,proxima-nova-2,montserrat,Helvetica,sans-serif;
}

#button-back-to-top {
	display: none;
	position: fixed;
	bottom: 52px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #1BBC9B;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
  
  #button-back-to-top:hover {
	background-color: rgb(18, 221, 180);
}

  #top-arrow{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 16px solid #4c5357;
	display: inline-block;
}

.voting-area{
	position: absolute;
    bottom: 4px;
	right: 10px;
}

.post-edit-area{
	position: absolute;
	bottom: 4px;
    left: 10px;
}

.editing-buttons{
	display:inline;
	cursor: pointer;
}

.delete-button img, .admin-delete-user img, .admin-delete-like img{
	max-height:25px;
}

#admin-content tr{
	height:50px;
}

.clearfix {
    clear:both;
}

.edit-button img, .admin-edit-user img, .admin-edit-like img{
	max-height:20px;
	margin-bottom: 3px;
}

#vote-status{
	margin-left:10px;
}

.vote-button {
	cursor: pointer;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #4c5357;
	display: inline-block;
	vertical-align: middle;
} 
 
.vote-button:first-of-type {
	border-top: none;
	border-bottom: 10px solid #4c5357;
} 

#page {
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    height: calc(100% - 40px);
}

.site-content{
	min-height:500px;
}

.site-header, .site-footer {
	background-color: #f4f4f4;
	padding-top: 0;
	position: relative;
	z-index: 80;
	display: inline-block;
	min-height: 30px;
	width: 100%;
	max-height:50px;
}

.header-content nav{
	list-style:none;
	overflow:hidden;
    margin:0;
    padding:0;
    text-align:center;
}

.header-content nav img{
	max-height:25px;
	float:left;
	vertical-align: middle;
	border-radius: 50%;
	padding-right: 10px;
}

.header-content nav ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header-content nav li {
	display: inline;
}

#homebtn {
	display:inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	max-height:40px;
	color: #4c5357;
}

.header-content nav ul li:first-child a{
	color:#1BBC9B;
	float:left;
}

.header-content nav ul li:last-child .container{
	float:right;
	vertical-align:middle;
}
	
.site-footer{
	position: fixed;
	max-height: 50px;
	right: 0;
	bottom: 0;
	left: 0;
}

footer p {
	font-size:12px;
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}

footer img{
	max-height:25px;
	float:right;
	vertical-align: middle;
	border-radius: 50%;
	padding-left: 10px;
}

footer a{
	float:right;
	color: #4c5357;
	padding-right: 10px;
	text-decoration: none;
}

.container {
  margin: 0 10px 0 0;
  line-height: 50px;
  overflow:hidden;
}

.container p{
	text-align: center;
	color: #1BBC9B;
	line-height: 1;
	float:right;
	margin-right: 20px;
}

.header-button {
  padding: 8px 15px;
  border: 0;
  outline: 0;
  color: #fff;
  background: #1BBC9B;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
  float: right;
  vertical-align: middle;
  margin: 8px;
}

.login-container {
  display:none;
  position: absolute;
  right:0;
  min-width:220px;
  height:50px;
  z-index:60;
  box-shadow: 0 4px 0 darken(#ddd, 5%);
}

#logout-button button{
	padding: 8px 11px;
}

#site-posts, #signup-outer-container, #admin-content{
	width: 65%;
	margin: 0 auto;
}



.sort-button{
	padding: 4px 6px;
	border: 0;
	outline: 0;
	color: #fff;
	background: #1BBC9B;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
	vertical-align: middle;
	margin: 4px;
}

.sort-button-highlighted{
	padding: 4px 6px;
	border: 2px solid white;
	outline: 0;
	color: #fff;
	background: #1BBC9B;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
	vertical-align: middle;
	margin: 4px;
}

#sort-section{
	color: #4c5357;
	width: 58.5%;
	margin: 0 auto;
	min-height:40px	;
	line-height: 0.6;
}

#sorting-buttons{
	float:right;
}

#submit-post-form-notification{
	margin: 0 auto 10px auto;
	width:58.5%;
	color: #A0A7AB;
	font-size: 16px;
}

.submit-container{
	display:none;
}

.PostTitle{
	width: 80%;
	margin: 0 auto 4px auto;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 6px;
	background-color:#1BBC9B;
	color:white;
	font-weight: 365;
	font-family: proxima-nova-1,proxima-nova-2,montserrat,Helvetica,sans-serif;
	font-size: 14px;
}

.PostText{
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid #CCC;
	min-height: 200px;
	border-radius: 6px;
	color:#4c5357;
	font-family: proxima-nova-1,proxima-nova-2,montserrat,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.6;
	resize: none;
	position:relative;
}

.Post-button{
	padding: 8px 15px;
	border: 0;
	outline: 0;
	color: #fff;
	background: #1BBC9B;
	font-size: 14px;
	text-transform: uppercase;
	position:relative;
	border-radius: 4px;
	box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
	margin-top: 2px;
	display:block;
}

#submit-post-form{
	width: 58.5%;
	margin: 0 auto;
	position:relative;
}

.post{
	width: 90%;
    min-height: 100px;
    padding: 12px;
	border: 2px solid #CCC;
	border-radius: 8px;
	margin: 0 auto 30px auto;
	vertical-align: middle;
	position:relative;
}

.login-container.show-menu {
	display:block;
}

.post-author, .post-title{
	color:#f4f4f4;
	margin: 0 auto;
	line-height: 1;
}

.post-author{
	float: right;
}

.post-title{
	float: left;
}

.post-author a{
	color:#f4f4f4;
	text-decoration: none;
}

.post-header{
	background-color: #1BBC9B;
	min-height: 20px;
	padding: 5px;
	border: 2px solid #CCC;
	border-radius: 8px;
}

#login-form, #signup-form{
  position: absolute;
  padding: 20px;
  margin:50px 10px 0px 0px;
  background: #ddd;
  border-radius: 2px;
  box-shadow: 0 4px 0 darken(#ddd, 5%);
}

#signup-form{
	margin:0;
	width: 92%;
}

.input-data{
    width: 90%;
    padding: 8px;
    margin-bottom: 12px;
    border: 0;
    outline: 0;
    background: #f4f4f4;
    font-weight: 300;
    font-style: italic;
    border-radius: 2px; 
}

#signup-form .input-data{
	width:62%;
	display:block;
	margin-bottom:10px;
}

#signup-form .input-data:last-child{
	margin-bottom: 0;
}

#msg-username-taken, #msg-post-short, #msg-edit-short{
	font-size: 13px;
	color:red;
	position: absolute;
}

#msg-edit-short{
	left: 180px;
	bottom: 50px;	
}

#msg-username-taken{
	left: 340px;
	top: 13px;	
}

#msg-post-short{
	left: 76px;
	bottom: 4px;
}

#buttonClose_signup_popup_box{
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 2px;
	padding-inline: 10px;
	padding-block: 2px;
	cursor: default;
	text-transform: uppercase;
	user-select: none;
}

#login-form input:last-child{
      margin-bottom: 0;
}

#login-form input[type="submit"], #signup-form input[type="submit"], #buttonClose_signup_popup_box, #submit-user-admin{
	color: #ffF;
	background: #1BBC9B;
	font-style: normal;
	box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
}

#signup-form input[type="submit"]{
	width: 32%;
}

#login-error{
	color: red;
	font-size: 12px;	
	padding: 3px;	
	margin: 0;	
	display: none;
	font-weight:300;
}

#hider{
	position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
	z-index: 99;
	background-color:Black;
	opacity:0.5;
}

#to-login{
	position: absolute;
	bottom: 17px;
    right: 18px;
}

#popup_box_signup  {
	position:absolute;
	top: 50%;
	left: 50%;
	width:500px;
	height:420px;
	margin-top: -210px;
	margin-left: -250px;
	border: 1px solid #ccc;
	border:  2px solid black;
	border-radius: 5px;
	background-color:#ddd;
	opacity:0.9;
	z-index:100; 
}

#recaptcha-div{
	padding-bottom: 8px;
}

#recaptcha-error{
	color: #D8000C;
	background-color: #FFBABA;
	border-radius: 2px;
	padding-inline: 10px;
	cursor: default;
	border: 1px solid#D8000C;
	margin: 0;
	font-size: 12px;
	width: 57%;
	margin-bottom: 8px;
}

#website-logo-signup{
	padding: 20px 20px 0px 20px;
}

#website-logo-signup img{
	max-height:30px;
	vertical-align: middle;
	border-radius: 50%;
	padding-right:10px;
}

#msg-password-match{
	position: absolute;
    left: 340px;
	top: 100px;
	font-size: 13px;
}
